amqp==2.3.2
autopep8==1.4
billiard==3.5.0.4
celery==4.2.1
certifi==2018.8.24
chardet==3.0.4
Django==2.1.3
django-appconf==1.0.2
django-cacheops==4.1
django-compressor==2.2
django-debug-toolbar==1.10.1
django-redis-sessions==0.6.1
django-sortedm2m==1.5.0
django-tz-detect==0.2.9
freezegun==0.3.10
funcy==1.10.3
gnupg==2.3.1
gprof2dot==2016.10.13
html5lib==1.0.1
idna==2.7
Jinja2==2.10
kombu==4.2.1
MarkupSafe==1.0
psutil==5.4.7
psycopg2==2.7.5
pycodestyle==2.4.0
Pygments==2.2.0
python-dateutil==2.7.3
pytz==2018.5
raven==6.9.0
rcssmin==1.0.6
redis==2.10.6
requests==2.20.1
rjsmin==1.0.12
six==1.11.0
sqlparse==0.2.4
urllib3==1.23
uWSGI==2.0.17.1
vine==1.1.4
webencodings==0.5.1
