Django==3.0.7
celery==5.2.2
django-sortedm2m==3.0.0
freezegun==0.3.15
django-cors-headers==3.4.0
django-silk==4.0.1
django-stubs==1.4.0
django-webpack-loader==0.7.0
djangorestframework==3.11.0
djangorestframework-stubs==1.1.0
psycopg2-binary==2.8.4
uWSGI==2.0.18
requests==2.24.0
redis==3.5.3
sentry-sdk==0.16.0
django-debug-toolbar==2.2
