{% extends "base.html" %}
{% block title %} Contacts {% endblock %}
{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Contacts
                            </h2>
                        </div>
                        {% if messages %}
                            {%for message in messages %}
                                <div class="alert alert-{{ message.tags }}" role="alert">
                                    <ul class="messages">
                                        <li>{{ message }}</li>
                                    </ul>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="body">
                            {% if bunny %}
                                <div class="body table-responsive">
                                    <table class="table table-bordered table-hover table-striped table-condensed">
                                        <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for i in bunny %}
                                            <tr>
                                                <th><a href="{% url 'contact_edit' pk=i.pk %}">{{ i.name|default_if_none:""}}</a></th>
                                                <th><a href="{% url 'contact_edit' pk=i.pk %}">{{ i.email }}</a></th>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <ul class="pagination">
                                        {% if bunny.has_previous %}
                                            <li><a href="?page={{ bunny.previous_page_number }}">previous</a></li>
                                        {% endif %}

                                        <span class="current">

                                </span>

                                        {% if bunny.has_next %}
                                            <li><a href="?page={{ bunny.next_page_number }}">next</a></li>
                                        {% endif %}
                                        <br>
                                        Page {{ bunny.number }} of {{ bunny.paginator.num_pages }}.
                                    </ul>
                                </div>
                            {% else %}
                                <div class="text-center">
                                    <b>When you look at the dark side, careful you must be ... for the dark side looks back. - YODA</b>
                                </div>
                                <br/>
                            {% endif %}
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <a href="{% url 'contact_add' %}">
                                        <button type="button" class="btn btn-primary waves-effect">
                                            <i class="material-icons">create</i>
                                            <span>Add new contact</span>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}