{% extends "base.html" %}
{% block title %} Add New Mailgun {% endblock %}
{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Update Mailgun Settings
                            </h2>
                        </div>
                        <div class="body">
                            <form class="form-horizontal" method="post" action="{% url 'update_domain' pk=mailgun.pk %}"> {% csrf_token %}
                                {% if messages %}
                                    {%for message in messages %}
                                        {%if "mailgun" in message.tags %}
                                            <div class="alert alert-danger" role="alert">
                                                <ul class="messages">
                                                    <li>{{ message }}</li>
                                                </ul>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                        <label>Domain Name</label>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" required name="name" value="{{ mailgun.name }}" class="form-control" placeholder="example.com">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                        <label>Private API Key</label>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" required name="key" class="form-control" value="{{ mailgun.key }}" placeholder="mailgun's private key">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5">
                                        <button type="submit" class="btn btn-primary m-t-15 waves-effect">Update</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}