{% extends "base.html" %}
{% block title %} Compose New Mail {% endblock %}
{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Compose New Email
                            </h2>
                        </div>
                        <div class="body" id="compose">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{#    <script>#}
{#        /**#}
{#         * Form body editor#}
{#         */#}
{#        var quill;#}
{#        window.onload = function () {#}
{#            quill = new Quill('#mailBody', {#}
{#                modules: {#}
{#                    toolbar: [#}
{#                        [{ header: [1, 2, false] }],#}
{#                        ['bold', 'italic', 'underline'],#}
{#                        ['image', 'code-block']#}
{#                    ]#}
{#                },#}
{#                theme: 'snow'#}
{#            });#}
{#        };#}
{#        /**#}
{#         * Contact list generator#}
{#         */#}
{##}
{##}
{#        var form = document.querySelector('form');#}
{#        form.onsubmit = function() {#}
{#            // Populate hidden form on submit#}
{#            var body = document.querySelector('input[name=body]');#}
{#            body.value = quill.root.innerHTML;#}
{#            return true;#}
{#        };#}
{#    </script>#}
{% endblock %}
{% block script %} {% load staticfiles %}
    <script src="{% static 'js/bundles/Compose.js' %}"></script>
{% endblock %}