{% extends "base.html" %}
{% block title %} Inbox {% endblock %}
{% block content %}
    table {
    table-layout: fixed;
    word-wrap: break-word;
    }
    <section class="content">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="inbox">

                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block script %} {% load staticfiles %}
    <script src="{% static 'js/bundles/Inbox.js' %}"></script>
{% endblock %}