{% extends "base.html" %}
{% block title %} Sent Mail {% endblock %}
{% block content %}
<style>
table {
    table-layout: fixed;
    word-wrap: break-word;
}
</style>
    <section class="content">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="sent">

                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block script %} {% load staticfiles %}
    <script src="{% static 'js/bundles/Sent.js' %}"></script>
{% endblock %}